/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common shared styles */
.pink-btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  border: none;
  color: #fff;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 24px;
}
/* header related styles */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
}
/* logo related styles */
#logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
#logo img {
  width: 86.026px;
  height: 40.015px;
}
#logo-title {
  color: #0b0223;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#word {
  color: #ff42a5;
}
/* nav related styles */
#bg-ul li a img {
  width: 33.916px;
  height: 24px;
  object-fit: contain;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#bg-ul {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px;
  margin-left: 30px;
}
/* hero section related styles */
.hero {
  background-image: url(../images/Group\ 14.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero img {
  width: 40%;
  object-fit: contain;
}
.hero-subtitle {
  color: #0b0223;
  text-align: center;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.hero-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Work Sans";
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.hero-para {
  color: #534c64;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.fa-circle-play,
.fa-semibold {
  color: #ff42a5;
}
#blue-btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  color: #fff;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #mobile-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    background: #fff;
    box-shadow: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
