/* google font */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

/* common shared styles */
.pink-btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  border: none;
  color: #fff;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin-right: 24px;
}
/* header related styles */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.05);
}
/* logo related styles */
#logo {
  display: flex;
  align-items: center;
  gap: 15px;
}
#logo img {
  width: 86.026px;
  height: 40.015px;
}
#logo-title {
  color: #0b0223;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
#word {
  color: #ff42a5;
}
/* nav related styles */
#bg-ul li a img {
  width: 33.916px;
  height: 24px;
  object-fit: contain;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: #3c354f;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
#bg-ul {
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  padding: 20px;
  margin-left: 30px;
}
/* hero section related styles */
.hero {
  background-image: url(../images/Group\ 14.png);
  background-position: top left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.hero-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.hero img {
  width: 40%;
  object-fit: contain;
}
.hero-subtitle {
  color: #0b0223;
  text-align: center;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.hero-title {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Work Sans";
  font-size: 95px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}
.hero-para {
  color: #534c64;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: lowercase;
}
.fa-circle-play,
.fa-semibold {
  color: #ff42a5;
}
#blue-btn {
  padding: 21px 40px;
  border-radius: 48px;
  background: #4ec5f7;
  border: none;
  color: #fff;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
}
/* gamer section related styles */
.gamer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 13.13%,
    rgba(255, 66, 165, 0.03) 87.94%
  );
  padding-top: 50px;
  padding-bottom: 50px;
}
.gamer img {
  width: 40%;
}
.gamer-description {
  text-align: right;
  max-width: 520px;
}
.gamer-title {
  text-align: right;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}
.gamer-para {
  color: #534c64;
  text-align: right;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.gamer-description .pink-btn {
  margin: 0;
}
#text-thin {
  color: #534c64;
  text-align: right;
  font-family: "Work Sans";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
#bold-text {
  color: #534c64;
  font-family: "Work Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 45px;
}
/* online games related styles */
.online-games {
  margin: 100px auto;
}
.online-games-title {
  color: #0b0223;
  text-align: center;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}
.online-games-para {
  color: #534c64;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin: 0;
  margin-top: 10px;
}
.online-games-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1024px;
  margin: 0 auto;
  column-gap: 24px;
  margin-top: 48px;
}
.online-games-card img {
  width: 100%;
}
.online-games-card {
  max-width: 342px;
}
.online-games-car-para {
  color: #534c64;
  font-family: "Work Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 25px; /* 150% */
}
#pink-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
/* play related styles */
.play {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1024px;
  margin: 0 auto;
  box-sizing: border-box;
}
#img-1 {
  width: 60%;
  object-fit: cover;
}
.play-title {
  text-align: right;
  font-family: "Work Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 125% */
  width: 341px;
  height: 180px;
}
.play-title span {
  background: linear-gradient(0deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.play-para {
  color: #534c64;
  text-align: right;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  width: 353px;
  height: 90px;
}
#img-position {
  position: relative;
  left: 100px;
  top: 68px;
  width: 31%;
  object-fit: cover;
}
@media screen and (max-width: 576px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #mobile-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  header {
    background: #fff;
    box-shadow: none;
  }
  .hero-container {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .hero img {
    width: 100%;
    object-fit: contain;
  }
  .hero {
    background-image: none;
    background-position: bottom;
    background-size: 100%;
  }
  .hero-description {
    background-image: url(../images/Group\ 14.png);
    background-size: 100%;
  }
  #blue-btn,
  .pink-btn {
    padding: 25px;
  }
  .gamer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gamer img {
    width: 100%;
  }
  .gamer-description {
    text-align: center;
    max-width: 100%;
  }
  .gamer-title {
    text-align: center;
  }
  .gamer-para {
    text-align: center;
  }
  .online-games-container {
    grid-template-columns: 1fr;
    margin: 0 auto;
    margin-top: 25px;
  }
  .online-games-card {
    max-width: 342px;
    margin: 0 auto;
  }
  .online-games {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .play {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 0;
  }
  #img-1 {
    width: 75%;
    object-fit: cover;
  }
  #img-position {
    position: relative;
    left: -125px;
    top: 308px;
    width: 30%;
    object-fit: cover;
  }
  .play-img-container {
    text-align: center;
    box-sizing: border-box;
  }
  .play-title {
    text-align: left;
  }
  .play-para {
    text-align: center;
  }
}
@media screen and (min-width: 576px) and (max-width: 1024px) {
  header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .gamer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .gamer img {
    width: 100%;
  }
}
